@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    src: url('Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    src: url('Ubuntu-Bold.ttf') format('truetype');
}