body {
    padding: 10px;
    font-family: sans-serif;
}

h2 {
    font-size: large;
    color: #333;
    font-weight: bold;
    padding: 5px 0;
}

h4 {
    font-weight: bold;
    font-size: small;
    color: #999;
    padding-bottom: 10px;
}

.spliter {
    border-bottom: 1px dashed #eee;
    margin-top: 20px;
}

.itemList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin: 10px 0;
    width: auto;
}

.optionItemWrapper {
    padding: 40px 0 20px 0;
    border-bottom: 1px dashed #eee;
}

.itemList li {
    float: left;
    padding: 10px 15px;
    border: 1px solid #f9f9f9;
    border-right: none;
    color: #999;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    font-size: small;
}

.recentNumberList li.recentNumberList-active {
    color: white;
    background-color: #23b9c5;
}

.fontOptionList li.fontOptionList-active {
    color: white;
    background-color: #23b9c5;
}

.itemList li:last-of-type {
    border-right: 1px solid #f9f9f9;
}

.itemList li:hover {
    color: white;
    background-color: #75d4dc;
}
